[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
black = "*"

[packages]
numpy = "*"
matplotlib = "*"
pandas = "*"
tensorflow = "==2.7.2"
django = "*"
ipython = "*"
django-heroku = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
